/*** @export "..." css */
/**
 * Page Component Settings
 * 
 */
$pageSettings: (
  // main body copy
  bodyCopy: (
    font: u-deepGet($typography--skin, fontStack, georgia),
    color: black(0),
    bg: white(0)
  ),
  // secondary copy
  secondaryCopy: (
    font: u-deepGet($typography--skin, fontStack, georgia),
    color: black(0),
    bg: white(0)
  ),
  // footer copy
  footerCopy: (
    font: u-deepGet($typography--skin, fontStack, georgia),
    color: black(0),
    bg: white(0)
  ),
);

