/**
 * Archetype Page Component
 *
 * 1. Prevents iOS text size adjust after orientation change, without disabling user zoom.
 * 
 */
@import "_c-page-settings.scss";

html {
  -webkit-text-size-adjust: 100%;   /* 1 */
  -ms-text-size-adjust: 100%;   /* 1 */
  overflow-y: scroll;
  min-height: 100%;
}

body {
  color: u-deepGet($pageSettings, bodyCopy, color);
  background: u-deepGet($pageSettings, bodyCopy, bg);
  font-weight: normal;
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

